[submodule "data/DHd-Abstracts-2016"]
	path = data/DHd-Abstracts-2016
	url = https://github.com/daniel-jettka/DHd-Abstracts-2016.git
[submodule "data/DHd-Abstracts-2017"]
	path = data/DHd-Abstracts-2017
	url = https://github.com/daniel-jettka/DHd-Abstracts-2017.git
[submodule "data/DHd-Abstracts-2018"]
	path = data/DHd-Abstracts-2018
	url = https://github.com/daniel-jettka/DHd-Abstracts-2018.git
[submodule "data/DHd-Abstracts-2019"]
	path = data/DHd-Abstracts-2019
	url = https://github.com/daniel-jettka/DHd-Abstracts-2019.git
[submodule "data/DHd-Abstracts-2020"]
	path = data/DHd-Abstracts-2020
	url = https://github.com/daniel-jettka/DHd-Abstracts-2020.git
[submodule "data/DHd-Abstracts-2022"]
	path = data/DHd-Abstracts-2022
	url = https://github.com/daniel-jettka/DHd-Abstracts-2022.git
